<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811064205660-g4r7ri1r5m5u29273qa1qjeuf49pi6s0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811064205660-g4r7ri1r5m5u29273qa1qjeuf49pi6s0</string>
	<key>API_KEY</key>
	<string>AIzaSyBqHrDMVuZUmpBlGtKZ7vTHx1jr2pxSHvY</string>
	<key>GCM_SENDER_ID</key>
	<string>811064205660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appchat.chatAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>chat-app-d877c</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-d877c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811064205660:ios:8d847efde425baee326199</string>
</dict>
</plist>